<!--
<html>
    <head>
        <title>HOME PAGE</title>
      <link rel=stylesheet href="/css/index.css">
        </head>
    <body>
-->
       <h1>{{title}}</h1>
        {{#each users}}
        <p>
            <a href="">{{name}}</a><br/>
            Username:{{username}}
            Password:{{password}}
            </p>
         {{/each}}
        <footer>
            <p>
                <a href="/">Home</a>
                <a href="/about">About classpro</a>
        <a href="/login">LOGIN</a>
                <a href="/signup">SIGNUP</a>
        </p>
           
            </footer>
        
  
    
    
<!--    </body>
    </html>-->